/* import of font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


html{
    height : 100vh;
    --primary-color : #9FBBCC;
    --secondary-color : #FFFD98;
    --primary-font : 'Montserrat', sans-serif;
   
}

body{
    height : 100%;
}



/* header css ******************************************************************************************************/

header{
    height : 60vh;
    /* border : 1px solid black; */
    box-sizing: border-box;
    padding : 10px;
    position: relative;

}

.fond_head{
    background-color : var(--primary-color);
    height : 60%;
    border-radius: 10px;
    position: relative;
    z-index : 1;
    padding-top: 1em;
    box-sizing: border-box;
}

.ellipse_head{
   
    height : 30%;
    width: 100%;
    border-radius: 50%;
    position : absolute;
    z-index : 2;
    background-color: white;
    bottom : 6em;
    left : 0px;
}

.titre_ellipse{
    margin-top : 2.5em;
    font-size : 1.2em;
    font-family: var(--primary-font);
    text-align: center;
text-transform: uppercase;
font-weight: 100;

}

.photo_head{
    height : 80%;
    width : 60%;
    margin : 0 auto;
    border-radius: 5%;
    background-image: url('images/photo1.jpg');
    background-size: cover;
}

.icone_head{
    box-sizing: border-box;
    margin-top : 3em;
    width : 3em;
    height : 3em;
    transition : all 1s ease 0s;
    
    

}


.text_bienvenue {
    font-size : 0px;
    width : 0%;
    height : 0%;
    white-space: nowrap;
    opacity: 1;
    font-family: var(--primary-font);
    

}



.trait1{
    width : 90%;
    border-top: 3px solid black;
    position: relative;
    transition : 1s ease;
    margin-bottom : 8px;

}

.trait2{
    width : 60%;
    border-top: 3px solid black;
    position: relative;
    transition : 1s ease;
    margin-bottom : 8px;

    
}

.trait3{
    width : 30%;
    border-top: 3px solid black;
    position: relative;
    transition : 1s ease;
}


/* main css ******************************************************************************************************/


main{
    min-height : 30vh;
    background-color : var(--primary-color);
    height : 250vh;
    padding-top : 2em;
}

.fleche_droite{
    width: 24px;
    height : 24px;
    position : absolute;
    right : 0%;
    top : 25%;
    z-index:2;
    background-image: url('images/fleche_droite.png');
    background-size: contain;
    }
    
    .fleche_gauche{
        width: 24px;
    height : 24px;
    position : absolute;
    left : 0%;
    top : 25%;
    z-index:2;
    background-image: url('images/fleche_gauche.png');
    background-size: contain;
    
    }

.carrousel1{
    height : 30%;
    width : 90%;
    margin : 0 auto;
    border-radius: 10px;
    background-color : var(--secondary-color);
    margin-bottom: 2em;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    position:relative;
}

.carrousel2{
    height : 30%;
    width : 90%;
    margin : 0 auto;
    border-radius: 10px;
    background-color : var(--secondary-color);
    margin-bottom: 2em;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    position:relative;
}



.carrousel3{
    height : 30%;
    width : 90%;
    margin : 0 auto;
    border-radius: 10px;
    background-color : var(--secondary-color);
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    position:relative;
}

#images_carrousel1{
    height : 60%;
   
    display: flex;
    position: relative;
    right : 0%;
    transition: right 1s ease;
    
}

#images_carrousel1 img{
    margin-right : 1em;
    border-radius: 10px;
    max-width : 100%;
}


#images_carrousel2{
    height : 60%;
   
    display: flex;
    position: relative;
    right : 0%;
    transition: right 1s ease;
    
}

#images_carrousel2 img{
    margin-right : 1em;
    border-radius: 10px;
    max-width : 100%;
}


#images_carrousel3{
    height : 60%;
   
    display: flex;
    position: relative;
    right : 0%;
    transition: right 1s ease;
    
}

#images_carrousel3 img{
    margin-right : 1em;
    border-radius: 10px;
    max-width : 100%;
}


.paragraphes_carrousel1{
    height : 40%;
   width : 600%;
    display: flex;
    position: relative;
    right : 0%;
    transition: right 1s ease;
}

.paragraphes_carrousel1 div{
    
   
    height : 100%;
   width : 100%;
   
}




.paragraphes_carrousel2{
    height : 40%;
    width : 600%;
     display: flex;
     position: relative;
     right : 0%;
     transition: right 1s ease;
}

.paragraphes_carrousel2 div{
    
   
    height : 100%;
   width : 100%;
   
}

.paragraphes_carrousel3{
    height : 40%;
    width : 600%;
     display: flex;
     position: relative;
     right : 0%;
     transition: right 1s ease;
}

.paragraphes_carrousel3 div{
    
   
    height : 100%;
   width : 100%;
    
}

.prenom{
    position: relative;
top : 20%;
left : 15%;
font-family: var(--primary-font);
font-size: 1.6em;
transition: left 1s ease;
}

.age{
    position: relative;
    top : 60%;
    left: 50%;
    font-family: var(--primary-font);
    font-size: 1.6em;
    transition: left 1s ease;
}

/* footer css ******************************************************************************************************/


footer{
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    height : 10vh;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}